{% extends 'home/base.html' %}

{% block content %}
    <div class="mb-3">
        <a href="?order_by=datetime_attempt" class="btn btn-secondary">Сначала старые</a>
        <a href="?order_by=-datetime_attempt" class="btn btn-secondary">Сначала новые</a>
    </div>

    <table class="table table-hover">
        <caption class="caption-top">Отчет проведенных рассылок</caption>
        <thead class="table-secondary">
        <tr>
            <th scope="col">№</th>
            <th scope="col">Рассылка</th>
            <th scope="col">Дата и время попытки</th>
            <th scope="col">Статус попытки</th>
            <th scope="col">Ответ сервера</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <th scope="row">{{ object.pk }}</th>
                <td>
                    {% if object.message %}
                        <a href="{% url 'newsletter:message_detail' object.message.pk %}"
                           class="custom-link">{{ object.message }}</a>
                    {% else %}
                        <strong style="color:darkred">РАССЫЛКА УДАЛЕНА</strong>
                    {% endif %}
                </td>
                <td>{{ object.datetime_attempt }}</td>
                <td style="color: {% if object.status == 'Ошибка отправки' %}red{% elif object.status == 'Успешно отправлено' %}green{% else %}black{% endif %}">
                    {{ object.status }}
                </td>
                <td>{{ object.server_response }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}