@import url("https://fonts.googleapis.com/css?family=Open+Sans:800");

/*МОИ КАСТОМЫ*/
/*Стили для кнопок с текстом "сервис управления рассылками" на главной странице*/
.custom-list li {
    list-style: none;
}

.custom-list label {
    position: relative;
}

.custom-list input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 60px;
    width: 60px;
    z-index: 100;
}

.custom-list div {
    position: relative;
    height: 60px;
    width: 60px;
    background: #1a1e21;
    color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 46px;
    cursor: pointer;
    margin: 0 4px;
    border-radius: 20px;
    box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05),
    4px 4px 6px rgba(0, 0, 0, 0.2),
    inset -1px -1px 4px rgba(255, 255, 255, 0.05),
    inset 1px 1px 1px rgba(0, 0, 0, 0.1);
}

@keyframes glow {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.custom-list input[type="checkbox"]:checked ~ div {
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.05),
    inset 4px 4px 6px rgba(0, 0, 0, 0.2);
    color: yellow;
    text-shadow: 0 0 15px yellow, 0 0 25px yellow;
    animation: glow 1.5s linear infinite;
}

.custom-link {
    text-decoration: none;
    color: #141619;
}


/*Раскрашены кнопки для активности рассылки*/

.active {
    color: green;
}

.inactive {
    color: red;
}

/*Стили для главной страницы блога со списком статей*/

.loading {
    width: 300px;
    height: 200px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.bar {
    --bg: white;
    --delay: 1s;
    background: var(--bg);
    width: 12px;
    height: 80px;
    border-radius: 10px;
    animation: loader 1.5s ease-in-out infinite;
    animation-delay: var(--delay);
}

@keyframes loader {
    0%,
    100% {
        height: 2px;
    }

    50% {
        height: 80px;
    }
}

.bar {
    &:nth-child(1), &:nth-child(10) {
        --bg: purple;
        --delay: 1s;
    }

    &:nth-child(2), &:nth-child(9) {
        --bg: crimson;
        --delay: 0.8s;
    }

    &:nth-child(3), &:nth-child(8) {
        --bg: deeppink;
        --delay: 0.6s;
    }

    &:nth-child(4), &:nth-child(7) {
        --bg: orange;
        --delay: 0.4s;
    }

    &:nth-child(5), &:nth-child(6) {
        --bg: gold;
        --delay: 0.2s;
    }
}

/*Стили для главной страницы с информацией о наших статьях блога*/

.my-custom-background {
    margin: 0;
    height: 100px;
    width: 100%;
    background:#111;
    display: block;
    align-items: center;
    justify-content: center;
}


svg {
    width: 100%;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: -400;
    }
}

.text {
    font: 5em/1 "Open Sans", "Impact";
    text-transform: uppercase;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-dasharray: 70 330;
    stroke-dashoffset: 0;
    animation: stroke 6s infinite linear;
    fill: none;

    &:nth-child(5n+1) {
        stroke: #f2385a;
        animation-delay: -1.2s;
    }

    &:nth-child(5n+2) {
        stroke: #f5a503;
        animation-delay: -2.4s;
    }

    &:nth-child(5n+3) {
        stroke: #e9f1df;
        animation-delay: -3.6s;
    }

    &:nth-child(5n+4) {
        stroke: #56d9cd;
        animation-delay: -4.8s;
    }

    &:nth-child(5n+5) {
        stroke: #3aa1bf;
        animation-delay: -6s;
    }
}
