{% extends 'home/base.html' %}

{% block content %}
    <div class="row text-center">
        <h1>Список пользователей сервиса Mailing Wave &#128232;</h1>
    </div>

    <div class="row text-center">
        {% for object in object_list %}
            <div class="col-sm-3">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h6 class="my-0 font-weight-normal">Email пользователя: {{ object.email }}</h6>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            <li><h6>Данные пользователя:</h6></li>
                            Имя: {{ object.first_name }}<br/>
                            Фамилия: {{ object.last_name }}<br/>
                            Признак активности:
                            {% if object.is_active %}
                                Активен
                            {% else %}
                                Отключен
                            {% endif %}
                            id пользователя: {{ object.pk }}
                        </ul>
                        {% if object.is_active %}
                            <a href="{% url 'users:user_disable' object.pk %}" type="button"
                               class="btn btn-lg btn-block btn-outline-primary">Отключить юзера</a>
                        {% else %}
                            <a href="{% url 'users:user_disable' object.pk %}" type="button"
                               class="btn btn-lg btn-block btn-outline-primary">Активировать юзера</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}